.app {
	display: flex;
	justify-content: space-between;
}

.filter-page {
	padding-bottom: 24px;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
}

.filter-bar {
	position: sticky;
	top: 0px;
	background-color: #2b5baf;
	width: 100%;
	padding: 24px 12px 24px 12px;
	z-index: 3000;
	display: flex;
	justify-content: center;
	box-shadow: -6px 0 #2b5baf, 6px 0 #2b5baf, 0 7px 10px -3px rgba(0, 0, 0, 0.33);
	margin: 0px 4px;
	align-items: center;
}

.filter-bar input {
	font-size: 18px;
	margin: 0px 8px;
}

.character {
	display: inline-block;
	position: relative;
	font-size: 32px;
}

.words {
	flex-wrap: wrap;
	display: flex;
	margin-top: 24px;
	max-width: 890px;
}
.words > .words {
	margin-top: 12px;
}

.word {
	margin: 8px 12px;
	transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
	background-color: white;
	border-radius: 6px;
	display: flex;
	flex-flow: column;
}
.word:not(.detailed) {
	width: 198px;
	cursor: pointer;
	padding: 8px 12px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.20);
	align-items: center;
}
.word:hover {
	z-index: 2000;
}
.word:not(.detailed):hover {
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
	transform: scale(1.2);
}

.word-meaning {
	font-size: 14px;
}

.word.detailed {
	width: 900px;
	padding: 16px 24px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
	align-items: flex-start;
	position: relative;
}
.word.detailed.multi-character {
	min-height: 450px;
}
.word.detailed:not(.multi-character) {
	min-height: 810px;
}

.detailed-word-character-information {
	margin-top: 48px;
}

.detailed-word-word {
	font-size: 64px;
	align-self: center;
}
.detailed-word-pinyin {
	font-size: 32px;
	align-self: center;
}
.detailed-word-meaning {
	margin-top: 64px;
	align-self: flex-start;
}
.detailed-word-remarks {
	margin-top: 18px;
	align-self: flex-start;
}

.loudspeaker {
	position: absolute;
	top: 16px;
	right: 24px;
	height: 28px;
	width: 28px;
	cursor: pointer;
}
